body {
    text-align: center;
}
.first{
    background: lightgray;
    border: none;
    border-radius: 5px;
}
button {
    width: 100%;
}
header,main{
    border: solid 2px lightgray;
    border-radius: 5px;
}
.foot{
    font-weight: bold;
}